@model Shelter.Shared.Shelter

<table>
  <tr>
    <th>Name</th>
    <th>Type Name</th>
  </tr>
  @foreach (var item in Model.Animals)
  {
    <tr>
      <td>@item.Name</td>
      <td><a asp-controller="Animal" asp-action="Detail" asp-route-id=@item.Id>Detail</a></td>
      <td><a asp-controller="Animal" asp-action="Delete" asp-route-id=@item.Id>Delete</a></td>

    </tr>
  }
</table>